/**
 * @file
 * Bambora payment form styles for the Bambora module.
 */

/*
 * Add drupal core form elements styling to the Bambora payment form.
 */
.bambora-form .form-text {
  background: #f2f2f2;
  border: 1px solid #ced4da;
  border-radius: 0;
  color: #000;
  margin-top: .25rem;
  padding-top: 0.5625rem;
}
.bambora-form .form-text iframe {
  height: 100%;
}
.bambora-form .error {
  background-color: hsl(15, 75%, 97%);
  border-color: #e62600;
  border-width: 1px;
  box-shadow: 0 5px 5px -5px #b8b8b8 inset;
  color: #a51b00;
}
